#  Exploring DataFrame Concatenation with Pandas
 Concatenation of DataFrames, a key operation with pandas in Python, enables the flexible merging of tabular datasets.
 
 I will be using the StatsBomb dataset; you can adjust the instructions based on your data.

In [1]:
"""

LinkedIn: Sara Bentelli
Twitter: @SoccerbyNumber6

Wish you all the best

"""

import pandas as pd
from mplsoccer import Sbopen
parser = Sbopen()
# Extract all match ids for the last world cup 

matches= parser.match(competition_id= 43, season_id=106)

#Filtering match ids for Argentina with the mask below

team_req= ((matches.home_team_name=='Argentina')|(matches.away_team_name== 'Argentina'))

team= matches.loc[team_req,['home_team_name','away_team_name','home_score','away_score','match_id','match_date']]

#reorganize matches according to dates

team=team.sort_values(by="match_date",ascending=True)

In [2]:
team

   home_team_name away_team_name  home_score  away_score  match_id match_date
37      Argentina   Saudi Arabia           1           2   3857300 2022-11-22
13      Argentina         Mexico           2           0   3857289 2022-11-26
11         Poland      Argentina           0           2   3857264 2022-11-30
1       Argentina      Australia           2           1   3869151 2022-12-03
6     Netherlands      Argentina           2           2   3869321 2022-12-09
19      Argentina        Croatia           3           0   3869519 2022-12-13
9       Argentina         France           3           3   3869685 2022-12-18

In [3]:
events=parser.event(3857289)[0]
mask= (events.type_name == 'Pass')&(events.team_name== "Argentina")
df_event= events.loc[mask,["x",'y','end_x','end_y','player_name','match_id',"id","type_name","outcome_name","minute",'second',"under_pressure"]]
df_event

,x,y,end_x,end_y,player_name,match_id,id,type_name,outcome_name,minute,second,under_pressure
9,6.0,36.0,7.8,49.5,Damián Emiliano Martínez,3857289,52d32916-e073-4ef4-9a0b-b70e1a62f856,Pass,NaN,0,15,NaN
11,8.9,51.1,21.1,71.8,Nicolás Hernán Otamendi,3857289,15d36e28-237c-4754-b71d-e9b277d44f76,Pass,NaN,0,17,NaN
14,32.8,69.3,21.1,53.9,Gonzalo Ariel Montiel,3857289,e449e798-53b8-4437-a7d7-630601dd7e2c,Pass,NaN,0,22,NaN
17,24.1,51.7,34.7,67.4,Nicolás Hernán Otamendi,3857289,e1875421-cceb-4527-aee7-b533dc1cbb2d,Pass,NaN,0,27,NaN
20,39.9,68.8,46.6,73.7,Gonzalo Ariel Montiel,3857289,f439d637-1160-453a-bcf7-4e5977d70e99,Pass,NaN,0,29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3344,22.6,61.2,22.6,52.8,Exequiel Alejandro Palacios,3857289,9f732523-b8dd-4a42-9a70-66f9a06030c7,Pass,NaN,95,20,NaN
3347,24.3,53.4,33.3,47.5,Enzo Fernandez,3857289,e201b80b-bb4d-4a57-82a7-1e0e3a6dacda,Pass,NaN,95,21,NaN
3356,39.4,55.2,97.4,12.0,Damián Emiliano Martínez,3857289,fff5d09f-af46-4e32-883d-7c587d534d4c,Pass,Incomplete,96,11,NaN
3360,82.4,22.1,101.0,6.7,Lisandro Martínez,3857289,3be241a1-5942-4e3d-9702-9e01834d656e,Pass,Incomplete,96,17,NaN
3364,92.8,14.9,97.7,7.5,Enzo Fernandez,3857289,b18ab517-776b-4317-ac5a-adbbffcaad7a,Pass,NaN,96,21,NaN

In [4]:
#
dfs=[]
for i in team['match_id']:
    
    #events is a dataframe of The match events of match_id i.
    
    events=parser.event(i)[0]
    
    #Filtering the events for Argentina shots
    mask= (events.type_name == 'Pass')&(events.team_name== "Argentina")
    
    # Selecting only the columns required for my analysis.

    df_event= events.loc[mask,["x",'y','end_x','end_y','player_name','match_id',"id","type_name","outcome_name","minute",'second',"under_pressure"]]
    
    #Appending DataFrame df_event to dfs.
    
    dfs.append(df_event)

#Combining DataFrames in Argentina by Concatenating along the Rows (axis=0).

argentina=pd.concat(dfs,axis=0)

In [5]:
argentina

,x,y,end_x,end_y,player_name,match_id,id,type_name,outcome_name,minute,second,under_pressure
20,34.9,4.4,48.9,8.4,Nicolás Alejandro Tagliafico,3857300,03bb2292-3911-428f-ba19-cecfda28b34e,Pass,NaN,0,15,NaN
24,45.3,5.3,34.3,9.8,Lautaro Javier Martínez,3857300,2b5220fb-582b-46f7-a98a-49e13f456ce8,Pass,NaN,0,17,1.0
27,33.8,10.0,19.8,10.9,Leandro Daniel Paredes,3857300,b2aed67e-2646-49fd-ac81-877b84887a3d,Pass,NaN,0,19,NaN
30,19.1,14.1,16.9,40.9,Nicolás Hernán Otamendi,3857300,bc42c7f4-2fe3-43ed-93c6-eaf735f4a7fa,Pass,NaN,0,22,NaN
33,27.3,47.4,33.1,51.5,Cristian Gabriel Romero,3857300,0d41843a-35a8-4317-95e5-5c4ab1dde12e,Pass,NaN,0,26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4347,42.8,54.1,58.0,62.4,Enzo Fernandez,3869685,dab75a96-34a0-4c95-9b3f-f45d06c41ec6,Pass,NaN,122,51,NaN
4350,66.8,62.6,104.9,62.6,Lionel Andrés Messi Cuccittini,3869685,494f058f-f207-4eaf-8572-fa8231480ea1,Pass,NaN,122,54,NaN
4354,109.3,61.6,110.8,41.6,Gonzalo Ariel Montiel,3869685,fc143837-ac4c-4606-84d0-8d4d2c4c1f22,Pass,NaN,122,58,NaN
4359,46.5,20.1,62.5,25.8,Marcos Javier Acuña,3869685,2c132bb4-b135-420e-9cf3-a1ed869bc2a9,Pass,Incomplete,123,39,NaN
4361,47.1,27.3,56.1,22.0,Leandro Daniel Paredes,3869685,641f3cd8-283d-4fa9-ac2f-d6c3a22afae3,Pass,NaN,123,42,NaN

In [ ]:
# Wish me luck